.features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 8rem;
    padding: 10rem;
    width: 100%;
    max-width: $bp-largest;
    margin:0 auto;
    @media screen and(max-width:$bp-small) {
        grid-template-columns: 1fr;
    }
    @media screen and(min-width:$bp-small)and (max-width:$bp-large) {
        grid-template-columns: 1fr 1fr;
    }

    .feature{
        margin:1.5%;
        min-width: 200px;
        padding: 1.6rem;
        display: grid;
        grid-template-columns:1fr;
        grid-row-gap: 1.5rem;
        grid-column-gap: 2.5rem;
        p{
            font-size: 1.4rem;
            margin-top: .5rem;
        }
    }
}