.footer{
    height: fit-content;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $color-secondary;
    p{
        color: $color-grey-light-2;
        padding: 4rem;
        font-size: 1.4rem;
    }
    .buttons{
        display: grid;
        grid-template-columns:repeat(6,1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        width: 80%;
        align-items: center;
        margin-top: 5rem;

        .footer-btn{
            background-color: transparent;
            border: 0;
            padding: 1.5rem;
            color: $color-grey-light-1;
            text-transform: uppercase;
            cursor: pointer;
            &:hover{
                transform: translateY(-0.4rem);
                background-color: $color-primary;
                color: $color-secondary;
                transition: all .3s;
            }
        }
    }
}
@media  screen and(max-width:$bp-medium) {
    .footer{
        .buttons{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media  screen and(max-width:$bp-small) {
    .footer{
        .buttons{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6,1fr);
        }
    }
}